#webova aplikace
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1

#formulare
Werkzeug==3.0.3
bleach==6.1.0

#markdown
markdown==3.6

#pyqt editor
pyqt5==5.15.11
requests==2.32.3
pyperclip==1.9.0

#testy
pytest==8.4.2