{% extends "base.html" %}
{% block content %}
<h2>Změna hesla</h2>

{% if force %}
<p><b>Máš dočasné heslo.</b> Než budeš pokračovat, nastav si nové.</p>
{% endif %}

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  <label>Nové heslo</label><br>
  <input type="password" name="password" required><br><br>

  <label>Nové heslo znovu</label><br>
  <input type="password" name="password2" required><br><br>

  <button type="submit">Uložit</button>
</form>
{% endblock %}
