{% extends "base.html" %}
{% block title %}Upravit profil{% endblock %}

{% block content %}
<div class="container">

<h1>Upravit profil</h1>

<form method="post">
  <label>Zobrazované jméno</label>
  <input type="text" name="display_name" value="{{ user.display_name or '' }}">

  <label>Bio</label>
  <textarea name="bio">{{ user.bio or '' }}</textarea>

  <label>Datum narození</label>
  <input type="date" name="birth_date" value="{{ user.birth_date }}">

  <label>Pohlaví</label>
  <select name="gender">
    <option value="">—</option>
    <option value="muž" {% if user.gender=='muž' %}selected{% endif %}>Muž</option>
    <option value="žena" {% if user.gender=='žena' %}selected{% endif %}>Žena</option>
  </select>

    <label>Téma</label><br>
    <select name="theme">
    <option value="light" {% if user.theme == 'light' %}selected{% endif %}>Light</option>
    <option value="dark" {% if user.theme == 'dark' %}selected{% endif %}>Dark</option>
    </select>
    <br><br>

  <button type="submit">Uložit</button>
</form>

</div>
{% endblock %}
